In [80]:
import pandas as pd
import numpy as np
sector_dict = {'Sector': 'a b c d e f g h i j k l'.split(), 'Subregion': ['a', 'b', 'c', 'aa', 'bb', 'cc', 'aaa', 'bbb', 'ccc', 'aaaa', 'bbbb', 'cccc'], 'Region': ['Aa', 'Bb', 'Cc', 'aA', 'bB', 'cC','Aa', 'Bb', 'Cc', 'aA', 'bB', 'cC'], 'Country': ['A', 'B', 'C', 'A', 'B', 'C', 'A', 'B', 'C', 'A', 'B', 'C'], 'Routes': [3,4,5,7,2,4,5,6,7,8,9,10], 'Rating': [1,2,3,1,3,3,1,3,2,1,1,1]}

In [21]:
sector_dict

{'Country': ['A', 'B', 'C', 'A', 'B', 'C', 'A', 'B', 'C', 'A', 'B', 'C'],
 'Region': ['Aa',
  'Bb',
  'Cc',
  'aA',
  'bB',
  'cC',
  'Aa',
  'Bb',
  'Cc',
  'aA',
  'bB',
  'cC'],
 'Sector': ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l'],
 'Subregion': ['a',
  'b',
  'c',
  'aa',
  'bb',
  'cc',
  'aaa',
  'bbb',
  'ccc',
  'aaaa',
  'bbbb',
  'cccc']}

In [81]:
sector_df = pd.DataFrame(sector_dict)

In [82]:
sector_df.loc[[0,3,5,6],'Subregion'] = np.nan
sector_df

   Country  Rating Region  Routes Sector Subregion
0        A       1     Aa       3      a       NaN
1        B       2     Bb       4      b         b
2        C       3     Cc       5      c         c
3        A       1     aA       7      d       NaN
4        B       3     bB       2      e        bb
5        C       3     cC       4      f       NaN
6        A       1     Aa       5      g       NaN
7        B       3     Bb       6      h       bbb
8        C       2     Cc       7      i       ccc
9        A       1     aA       8      j      aaaa
10       B       1     bB       9      k      bbbb
11       C       1     cC      10      l      cccc

MultiIndex(levels=[['A', 'B', 'C'], ['Aa', 'Bb', 'Cc'], ['a', 'b', 'c']],
           labels=[[0, 1, 2], [0, 1, 2], [0, 1, 2]])

In [86]:
sector_df.sort_values('Country', inplace=True)
sector_df.fillna('None', inplace=True)
context_dict = {}
for country in sector_df['Country'].unique():
    country_subset = sector_df[sector_df['Country'] == country].sort_values('Region')
    context_dict[country] = {'count': country_subset['Routes'].sum(),
                            'rating': country_subset['Rating'].mean()}
    for region in country_subset['Region'].unique():
        region_subset = country_subset[sector_df['Region'] == region].sort_values('Subregion')
        context_dict[country][region] = {'count': region_subset['Routes'].sum(),
                                        'rating': region_subset['Rating'].mean()}
        for subregion in region_subset['Subregion'].unique():
            subregion_subset = region_subset[region_subset['Subregion'] == subregion].sort_values('Sector')
            if subregion == 'None':
                for sector in subregion_subset['Sector']:
                    sector_subset = subregion_subset[subregion_subset['Sector'] == sector]
                    context_dict[country][region][sector] = {'count': sector_subset['Routes'],
                                                            'rating': sector_subset['Rating'],
                                                            'sector': sector_subset['Sector']}
            else:
                context_dict[country][region][subregion] = {'count': subregion_subset['Routes'].sum(),
                                                           'rating': subregion_subset['Rating'].mean()}
                for sector in subregion_subset['Sector']:
                    sector_subset = subregion_subset[subregion_subset['Sector'] == sector]
                    context_dict[country][region][subregion][sector] = {'count': sector_subset['Routes'],
                                                                        'rating': sector_subset['Rating'],
                                                                        'sector': sector_subset['Sector']}
            
        
context_dict

/home/wojciech/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:9: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  if __name__ == '__main__':

{'A': {'Aa': {'a': {'count': 0    3
    Name: Routes, dtype: int64, 'rating': 0    1
    Name: Rating, dtype: int64, 'sector': 0    a
    Name: Sector, dtype: object}, 'count': 8, 'g': {'count': 6    5
    Name: Routes, dtype: int64, 'rating': 6    1
    Name: Rating, dtype: int64, 'sector': 6    g
    Name: Sector, dtype: object}, 'rating': 1.0},
  'aA': {'aaaa': {'count': 8, 'j': {'count': 9    8
     Name: Routes, dtype: int64, 'rating': 9    1
     Name: Rating, dtype: int64, 'sector': 9    j
     Name: Sector, dtype: object}, 'rating': 1.0},
   'count': 15,
   'd': {'count': 3    7
    Name: Routes, dtype: int64, 'rating': 3    1
    Name: Rating, dtype: int64, 'sector': 3    d
    Name: Sector, dtype: object},
   'rating': 1.0},
  'count': 23,
  'rating': 1.0},
 'B': {'Bb': {'b': {'b': {'count': 1    4
     Name: Routes, dtype: int64, 'rating': 1    2
     Name: Rating, dtype: int64, 'sector': 1    b
     Name: Sector, dtype: object}, 'count': 4, 'rating': 2.0},
   'bbb': {'count': 6, 'h': {'count': 7    6
     Name: Routes, dtype: int64, 'rating': 7    3
     Name: Rating, dtype: int64, 'sector': 7    h
     Name: Sector, dtype: object}, 'rating': 3.0},
   'count': 10,
   'rating': 2.5},
  'bB': {'bb': {'count': 2, 'e': {'count': 4    2
     Name: Routes, dtype: int64, 'rating': 4    3
     Name: Rating, dtype: int64, 'sector': 4    e
     Name: Sector, dtype: object}, 'rating': 3.0},
   'bbbb': {'count': 9, 'k': {'count': 10    9
     Name: Routes, dtype: int64, 'rating': 10    1
     Name: Rating, dtype: int64, 'sector': 10    k
     Name: Sector, dtype: object}, 'rating': 1.0},
   'count': 11,
   'rating': 2.0},
  'count': 21,
  'rating': 2.25},
 'C': {'Cc': {'c': {'c': {'count': 2    5
     Name: Routes, dtype: int64, 'rating': 2    3
     Name: Rating, dtype: int64, 'sector': 2    c
     Name: Sector, dtype: object}, 'count': 5, 'rating': 3.0},
   'ccc': {'count': 7, 'i': {'count': 8    7
     Name: Routes, dtype: int64, 'rating': 8    2
     Name: Rating, dtype: int64, 'sector': 8    i
     Name: Sector, dtype: object}, 'rating': 2.0},
   'count': 12,
   'rating': 2.5},
  'cC': {'cccc': {'count': 10, 'l': {'count': 11    10
     Name: Routes, dtype: int64, 'rating': 11    1
     Name: Rating, dtype: int64, 'sector': 11    l
     Name: Sector, dtype: object}, 'rating': 1.0},
   'count': 14,
   'f': {'count': 5    4
    Name: Routes, dtype: int64, 'rating': 5    3
    Name: Rating, dtype: int64, 'sector': 5    f
    Name: Sector, dtype: object},
   'rating': 2.0},
  'count': 26,
  'rating': 2.25}}

In [87]:
SCALES =[
            ['5.2','1','I','I'],
            ['5.3','2','II','II'],
            ['5.4','2+','II+','II+'],
            ['5.5','3','III','III+'],
            ['5.6','4','IV','IV'],
            ['5.7','4+','V-','IV+'],
            ['5.7','5a','V-','V-'],
            ['5.8','5a','V','V'],
            ['5.9','5b','V+','V+'],
            ['5.10a','5b+','VI-','V+/ VI-'],
            ['5.10b','5c','VI-','VI-'],
            ['5.10c','6a','VI','VI'],
            ['5.10d','6a+','VI+','VI+'],
            ['5.11a','6b','VII-','VI.1'],
            ['5.11b','6b+','VII','VI.1+'],
            ['5.11c','6c','VII+','VI.2'],
            ['5.11d','6c+','VIII-','VI.2+'],
            ['5.12a','6c+','VIII-','VI.2+/VI.3'],
            ['5.12b','7a','VIII','VI.3'],
            ['5.12c','7a+','VIII+','VI.3+'],
            ['5.12d','7b','IX–','VI.4'],
            ['5.12d','7b+','IX–','VI.4'],
            ['5.13a','7c','IX','VI.4+'],
            ['5.13b','7c+','IX+','VI.5'],
            ['5.13c','8a','IX+','VI.5+'],
            ['5.13d','8a+','X-','VI.5+/ VI.6'],
            ['5.14a','8b','X','VI.6'],
            ['5.14b','8b+','X+','VI.6+'],
            ['5.14c','8c','X+','VI.7'],
            ['5.14d','8c+','XI-','VI.7+'],
            ['5.15a','9a','XI','VI.8']
    ]

In [88]:
scales_df = pd.DataFrame(SCALES)

In [93]:
scales_df.columns = ['YDS', 'FR', 'UIAA', 'POL']

In [95]:
scales_df[scales_df['YDS']=='5.3']['POL']

1    II
Name: POL, dtype: object